<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Доставка цветов в Москве</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="/static/images/bouquet.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/bouquets.css">
    <script defer src="/static/js/gifts.js"></script>
</head>

<body>
    <header>
        <div class='logo'>
            <div class="image_logo"></div>
            <h1>Bloom & Blossom</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/index">О нас</a></li>
                <li><a href="/bouquets">Букеты</a></li>
                <li><a class="active" href="/gifts">Подарки</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="product-cards-container">
            <!-- Карточки будут добавляться сюда через JavaScript -->
        </section>
    </main>
    <footer>
        <p class="contact">Позвоните нам: +7-000-000-00-00</p>
        <p class="email">Пишите нам: <a>bloom_an_blossom@stud.mospolytech.ru</a></p>
        <p class="address">Наш адрес: Москва, ул. Цветочная, д. 5</p>
        <p class="hours">Время работы: круглосуточно, 24/7</p>
        <ul class="icons">
            <li><a href="#"><img src="/static/images/vk.png" alt="VK" style="width: 30px;"></a></li>
            <li><a href="#"><img src="/static/images/telegram.png" alt="Telegram" style="width:30px;"></a></li>
        </ul>
        <p class="copyright">© 2024 Bloom & Blossom. Все права защищены.</p>
    </footer>
</body>

</html>