<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Доставка цветов в Москве</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="/static/images/bouquet.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <header>
        <div class='logo'>
            <div class="image_logo"></div>
            <h1>Bloom & Blossom</h1>
        </div>

        <nav>
            <ul>
                <li><a class="active" href="/index">О нас</a></li>
                <li><a href="/bouquets">Букеты</a></li>
                <li><a href="/gifts">Подарки</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </nav>

    </header>

    <main class="info">
        <section>
            <div class="main_text">
                <h2>Цветы, доставленные с любовью!</h2>
                <p>Соберите свой идеальный букет за пару кликов.</p>
            </div>
        </section>
        <section>
            <section class="advantages_section">
                <div class="advantages">
                    <h2>Наши преимущества</h2>
                    <p>Предлагаем бесплатную доставку для заказов стоимостью от 1500 рублей</p>
                    <div class="row">
                        <div class="column" style="background:url(/static/images/delivery.png) no-repeat;">
                            <h5>Быстрая и бесплатная доставка цветов</h5>
                            <p>На доставку цветов нам потребуется до 2-х часов в пределах Москвы и 3 часов по
                                области.
                                В отдельных случаях возможна срочная доставка — уточняйте условия в магазинах</p>
                        </div>
                        <div class="column" style="background:url(/static/images/price.png) no-repeat;">
                            <h5>Приятные цены</h5>
                            <p>Мы предлагаем одни из самых низких цен на рынке, а также огромный выбор букетов
                                стоимостью до 3500 рублей.
                                Работаем с поставщиками из соседних стран</p>
                        </div>
                        <div class="column" style="background:url(/static/images/discounts.png) no-repeat;">
                            <h5>Программа лояльности</h5>
                            <p>Присоединяйтесь к нашей программе лояльности и получайте скидки для постоянных клиентов
                            </p>
                        </div>
                        <div class="column" style="background:url(/static/images/work.png) no-repeat;">
                            <h5>Круглосуточная работа</h5>
                            <p>Работаем в режиме 24/7, доставляем цветы в выходные и праздничные дни.</p>
                        </div>
                        <div class="column" style="background:url(/static/images/quality.png) no-repeat;">
                            <h5>Гарантия качества</h5>
                            <p>Собираем букеты из свежих цветов, вместе с букетом передаем получателю специальное
                                средство,
                                с которым они дольше сохраняют свежесть и радуют ваши глаза еще дольше!</p>
                        </div>
                        <div class="column" style="background:url(/static/images/tracking.png) no-repeat;">
                            <h5>Отслеживание заказа</h5>
                            <p>Уведомим Вас о том, что заказ принят, и о том, что он доставлен получателю. Скачайте
                                приложение, чтобы быстрее и удобнее отслеживать заказ</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer>
        <p class="contact">Позвоните нам: +7-000-000-00-00</p>
        <p class="email">Пишите нам: <a>bloom_an_blossom@stud.mospolytech.ru</a></p>
        <p class="address">Наш адрес: Москва, ул. Цветочная, д. 5</p>
        <p class="hours">Время работы: круглосуточно, 24/7</p>
        <ul class="icons">
            <li><a href="#"><img src="/static/images/vk.png" alt=" VK" style="width: 30px;"></a></li>
            <li><a href="#"><img src="/static/images/telegram.png" alt="Telegram" style="width:30px;"></a></li>
        </ul>
        <p class="copyright">© 2024 Bloom & Blossom. Все права защищены.</p>
    </footer>
</body>

</html>